@tailwind base;
@tailwind components;
@tailwind utilities;

/* RTL Support */
[dir="rtl"] {
  direction: rtl;
}

[dir="ltr"] {
  direction: ltr;
}

/* Ensure smooth transitions when switching languages */
* {
  transition-property: direction;
  transition-duration: 0.3s;
}

html,
body {
  overflow-x: ;
  scroll-behavior: smooth;
}