@tailwind base;
@tailwind components;
@tailwind utilities;

/* RTL Support */
[dir="rtl"] {
  direction: rtl;
}

[dir="ltr"] {
  direction: ltr;
}

/* Disable image dragging and text selection */
img {
  -webkit-user-drag: none;
  user-select: none;
}


/* Ensure smooth transitions when switching languages */
* {
  transition-property: direction;
  transition-duration: 0.3s;
}

html,
body {
  overflow-x: clip;
  position: relative;
  scroll-behavior: smooth;
}